@page "/add"

<h3>@Localizer["TitleAdd"]</h3>

<EditForm Model="@itemModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="name">
             @Localizer["Name"]
            <InputText id="name" @bind-Value="itemModel.Name" />
        </label>
    </p>
    <p>
        <label for="stack-size">
            @Localizer["BasePrice"]
            <InputNumber id="base-price" @bind-Value="itemModel.Base" />
        </label>
    </p>
    <p>
        <label for="max-durability">
            @Localizer["TotalPrice"]
            <InputNumber id="total-price" @bind-Value="itemModel.Total" />
        </label>
    </p>
    <p>
        <label for="max-durability">
            @Localizer["SellPrice"]
            <InputNumber id="sell-durability" @bind-Value="itemModel.Sell" />
        </label>
    </p>

    <p>
        <label for="Description">
            @Localizer["Description"]
            <InputText id="sell-durability" @bind-Value="itemModel.Plaintext" />
        </label>
    </p>

    <p>
        <label>
            @Localizer["ItemImage"]
            <InputFile OnChange="@LoadImage" accept=".png" />
        </label>
    </p>
    <p>
        <label>
            @Localizer["Tags"]
            <label>
                @foreach (var item in itemModel.Tags)
                {
                    <text>#@item </text>
                }
                <InputText id="tag" @bind-Value="TagContent" />
                <button class="btn btn-outline-warning" type="button" @onclick="ajoutTag">Add</button>
            </label>
        </label>
    </p>

    <p>
        <label>
            @Localizer["Prushsable"]
            <label>
                <input type="checkbox" @bind-value="itemModel.Purchasable" />
            </label>
        </label>
    </p>

    <button class="btn btn-outline-success" type="submit">@Localizer["Submit"]</button>
</EditForm>
