@page "/"
@using System.Globalization

<PageTitle>@Localizer["TitleIndex"]</PageTitle>

<h1>LOL EXPLORER</h1>

<h2>@Localizer["TitleIndex"]</h2>

<h2>@Localizer["LangueIndex"]</h2>

<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>

<p>
    @Localizer["PresentationIndex"]
</p>
<image src="http://ddragon.leagueoflegends.com/cdn/7.8.1/img/item/1001.png"></image>
<EditForm Model="Tags">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Tags :
            <label>
                @foreach (var item in Tags)
                {             
                    <text> #@item </text>            
                }
                <InputText id="tag" @bind-Value="TagContent" />
                <button @onclick="ajoutTag"></button>
            </label>
        </label> 
    </p>
</EditForm>

