@page "/listitems"
@using LolExplorer.Modele

<h3>@Localizer["TitleItems"]</h3>
<div>
    <NavLink class="btn btn-primary" href="Add" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> Ajouter
    </NavLink>
</div>
<DataGrid TItem="ItemApi"
          Data="@items"
          ReadData="@OnReadData"
          TotalItems="@totalItem"
          ShowPager
          PageSize="20">
    


    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Tags)" Caption="Display name" />
    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Plaintext)" Caption="Stack size" />
    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Name)" Caption="Maximum durability" />

    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Icon)" Caption="Enchant categories">
        <DisplayTemplate>
            <image src="@context.Icon"/> 
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Name)" Caption="Repair with">
        <DisplayTemplate>
            @(string.Join(", ", ((ItemApi)context).Purchasable))
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>