@page "/listitems"
@using LolExplorer.Modele

<h3>@Localizer["TitleItems"]</h3>
<div>
    <NavLink class="btn btn-outline-light" href="Add" Match="NavLinkMatch.All">
        <i class="fa fa-plus"></i> Ajouter
    </NavLink>
</div>

<DataGrid TItem="ItemApi"
          Data="@items"
          ReadData="@OnReadData"
          TotalItems="@totalItem"
          ShowPager
          Style="color:#fff;"
          PageSize="10">
    <DataGridColumn  TItem="ItemApi" Field="@nameof(ItemApi.Name)" Caption="Nom">
        <DisplayTemplate>
            <LolExplorer.Components.ItemDisplay ItemApi=@(context)></LolExplorer.Components.ItemDisplay>

         </DisplayTemplate>
    </DataGridColumn>
    @*<DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Name)" Caption="Nom" />
    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Plaintext)" Caption="Description"/>
    

    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Icon)" Caption="Image">
        <DisplayTemplate>
            @if (@context.Icon.Contains("ddragon"))
            {
                <img src="@context.Icon" class="img-thumbnail" title="@context.Name" alt="@context.Name" style="max-width: 150px" />
            }
            else
            {
                @if (File.Exists($"{WebHostEnvironment.WebRootPath}/images/{context.Name}.png"))
                {
                    <img src="images/@(context.Name).png" class="img-thumbnail" title="@context.Name" alt="@context.Name" style="max-width: 150px"/>
                }
                else
                {
                    <img src="images/default.png" class="img-thumbnail" title="@context.Name" alt="@context.Name" style="max-width: 150px"/>
                }
            }                     
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Name)" Caption="Prushsable">
        <DisplayTemplate>
            @(string.Join(", ", ((ItemApi)context).Purchasable))
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="ItemApi"  Caption="Tags">
        <DisplayTemplate>
            @foreach (var item in @context.Tags)
            {
                    <p> #@item</p>
            }
        </DisplayTemplate>

    </DataGridColumn>
    <DataGridColumn TItem="ItemApi" Caption="From">
        <DisplayTemplate>
            @if (@context.From != null)
            {
                @foreach (var item in @context.From)
                {
                            <p> -@item</p>
                }
            }
            else
            {
                    <p>No From</p>
            }
        </DisplayTemplate>

    </DataGridColumn>
    <DataGridColumn TItem="ItemApi" Caption="Into">
        <DisplayTemplate>
            @if (@context.Into != null)
            {
                @foreach (var item in @context.Into)
                {
                            <p> -@item</p>
                }
            }
            else
            {
                    <p>No Into</p>
            }
        </DisplayTemplate>
    </DataGridColumn>*@
    <DataGridColumn TItem="ItemApi" Field="@nameof(ItemApi.Id)" Caption="Action" >
        <DisplayTemplate>
            <a href="Edit/@(context.Id)" class="btn btn-outline-warning"><i class="fa fa-edit"></i> Editer</a>
            <button type="button" class="btn btn-outline-danger" @onclick="() => OnDelete(context.Id)"><i class="fa fa-trash"></i> Supprimer</button>
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>