@page "/viewItem/{Id:int}"
@using LolExplorer.Modele;


<h3>@ItemApi.Name</h3>
@if (@ItemApi.Icon != null)
{
            @if (@ItemApi.Icon.Contains("ddragon"))
    {
        <img src="@ItemApi.Icon" class="img-thumbnail" title="@ItemApi.Name" alt="@ItemApi.Name" style="max-width: 150px" />
    }
    else
    {
        @if (File.Exists($"{WebHostEnvironment.WebRootPath}/images/{ItemApi.Name}.png"))
        {
            <img src="images/@(ItemApi.Name).png" class="img-thumbnail" title="@ItemApi.Name" alt="@ItemApi.Name" style="max-width: 150px"/>
        }
        else
        {
            <img src="images/default.png" class="img-thumbnail" title="@ItemApi.Name" alt="@ItemApi.Name" style="max-width: 150px"/>
        }
    } 
}
<h5>@ItemApi.Plaintext</h5>
@if (@ItemApi.Price != null)
{
    <h5>Base Price @ItemApi.Price.Base</h5>
    <h5>Sell Pric @(ItemApi.Price.Sell) </h5>
    <h5>Total Pric @ItemApi.Price.Total</h5>
}



<div class="container">
    <div class="row">
        <h4>From</h4>
        <div class="col">
            @if (@ItemApi.From != null)
            {
                @foreach (int fromItem in @ItemApi.From)
                {
                    <LolExplorer.Components.ItemDisplay id=@fromItem></LolExplorer.Components.ItemDisplay>
                }
                @*    <DataGrid TItem="int"
            Data="@ItemApi.From"
            TotalItems="@ItemApi.From.Count()"
            ShowPager
            PageSize="2">

            <DataGridColumn TItem="int"  Caption="From">
            <DisplayTemplate>
            <LolExplorer.Components.ItemDisplay Id=@(context)></LolExplorer.Components.ItemDisplay>
            </DisplayTemplate>
            </DataGridColumn>
            </DataGrid>*@
            }
            else
            {
                <h5>No Item</h5>
            }
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <h4>Into</h4>
        <div class="col">
            @if (@ItemApi.Into != null)
            {
                @foreach (int intoItem in @ItemApi.Into)
                {
                    <LolExplorer.Components.ItemDisplay Id=@(intoItem)></LolExplorer.Components.ItemDisplay>
                }
                @*<DataGrid TItem="int"
                Data="@ItemApi.Into"
                TotalItems="@ItemApi.Into.Count()"
                ShowPager
                PageSize="2">

                <DataGridColumn TItem="int"  Caption="Into">
                <DisplayTemplate>
                <LolExplorer.Components.ItemDisplay Id=@(context)></LolExplorer.Components.ItemDisplay>
                </DisplayTemplate>
                </DataGridColumn>
                </DataGrid>*@
            }
            else
            {
                <h5>No Item</h5>
            }
        </div>
    </div>
</div>


@*<div>
    <h5>Into</h5>
      @if (@ItemApi.Into != null)
            {
                @foreach (var item in @ItemApi.Into)
                {
                    <p>hello</p>
                   <LolExplorer.Components.ItemDisplay Id=@(item)/>
                }
            }
        else
        {
                <p>No From</p>
        }
     }
</div>
*@