@page "/viewItem/{Id:int}"
@using LolExplorer.Modele;


<h3>@ItemApi.Name</h3>
<div class="row">

    <div class="col-1">
            @if (@ItemApi.Icon != null)
            {
                @if (@ItemApi.Icon.Contains("ddragon"))
                {
                    <img src="@ItemApi.Icon" class="img-thumbnail" title="@ItemApi.Name" alt="@ItemApi.Name" style="max-width: 150px" />
                }
                else
                {
                    @if (!string.IsNullOrWhiteSpace(@ItemApi.Icon))
                    {
                        <img src="data:image/png;base64, @(ItemApi.Icon)" class="img-thumbnail" title="@ItemApi.Name" alt="@ItemApi.Name" style="width: 150px; height: 150px" />
                    }
                    else
                    {
                        <img src="images/default.png" class="img-thumbnail" title="@ItemApi.Name" alt="@ItemApi.Name" style="max-width: 150px" />
                    }
                }
            }
    </div>
    <div class="col-4">
        <h5>@ItemApi.Plaintext</h5>
    </div>

</div>
@if (@ItemApi.Price != null)
{
    <h5>@Localizer["Base"] @ItemApi.Price.Base</h5>
    <h5>@Localizer["Sell"] @(ItemApi.Price.Sell) </h5>
    <h5>@Localizer["Total"] @ItemApi.Price.Total</h5>
}




<div class="container">
    <div class="row">
        <h4>@Localizer["From"]</h4>
        <div class="col">
            @if (@ItemApi.From != null && @ItemApi.From.Count!=0)
            {
                @foreach (int fromItem in @ItemApi.From)
                {
                    <LolExplorer.Components.ItemDisplay id=@fromItem></LolExplorer.Components.ItemDisplay>
                }
                @*    <DataGrid TItem="int"
            Data="@ItemApi.From"
            TotalItems="@ItemApi.From.Count()"
            ShowPager
            PageSize="2">

            <DataGridColumn TItem="int"  Caption="From">
            <DisplayTemplate>
            <LolExplorer.Components.ItemDisplay Id=@(context)></LolExplorer.Components.ItemDisplay>
            </DisplayTemplate>
            </DataGridColumn>
            </DataGrid>*@
            }
            else
            {
               <div class="alert alert-danger col-1" role="alert">
                    @Localizer["Void"]
                </div>
            }
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <h4>@Localizer["Into"]</h4>
        <div class="col">
            @if (@ItemApi.Into != null && @ItemApi.Into.Count != 0)
            {
                @foreach (int intoItem in @ItemApi.Into)
                {
                    <LolExplorer.Components.ItemDisplay Id=@(intoItem)></LolExplorer.Components.ItemDisplay>
                }
                @*<DataGrid TItem="int"
                Data="@ItemApi.Into"
                TotalItems="@ItemApi.Into.Count()"
                ShowPager
                PageSize="2">

                <DataGridColumn TItem="int"  Caption="Into">
                <DisplayTemplate>
                <LolExplorer.Components.ItemDisplay Id=@(context)></LolExplorer.Components.ItemDisplay>
                </DisplayTemplate>
                </DataGridColumn>
                </DataGrid>*@
            }
            else
            {
                <div class="alert alert-danger col-1" role="alert">
                    @Localizer["Void"]
                </div>
            }
        </div>
    </div>
</div>


@*<div>
    <h5>Into</h5>
      @if (@ItemApi.Into != null)
            {
                @foreach (var item in @ItemApi.Into)
                {
                    <p>hello</p>
                   <LolExplorer.Components.ItemDisplay Id=@(item)/>
                }
            }
        else
        {
                <p>No From</p>
        }
     }
</div>
*@
@if (@ItemApi.Tags != null)
{

    <div class="row">
        @Localizer["Tag"]
        @foreach (string tag in ItemApi.Tags)
        {
            <span class="col-1 badge btn-outline-warning badge-primary">#@tag</span>
        }
    </div>


}