<CascadingValue Value="@this">
    <div class="container">
        <div class="row">
          @*  <div class="col-12">
                <div>Actions</div>
                <div class="actions" id="actions">
                </div>
            </div>*@
            <div class="col">

                <div>@Localizer["Available"]</div>
                <div>
                    <Inventory Items="@Items" ResearcheBar=true />
                </div>

            </div>

            <div class="col">
                <div>@Localizer["Recipe"]</div>

                <div>

                    <div class="css-recipe">
                        <CraftingItem Index="0"  />

                        
                        <CraftingItem Index="1" />

                        <CraftingItem Index="2" />
                    </div>
                </div>

                <div>@Localizer["Result"]</div>
                <div class="css-grid">

                    @foreach (var item in RecipeResult)
                    {
                        <CraftingItem Item="item" NoDrop="true" />
                    }
                </div>
            </div>

            
        </div>
    </div>
</CascadingValue>